<section class="hero-body">
  <p class="title">
    Your Dashboard
  </p>
</section>

<div class="columns">
  <div class="column is-8 is-offset-1">

    {{#each userBlogsDisplay as |blog|}}

    <div class="card">
      <a href="api/blogposts/{{blog.id}}">
      <header class="card-header">
        <p class="card-header-title">{{blog.title}}</p>
      </header></a>

      <div class="card-content">
        <div class="content">
          {{blog.content}}
          <br>
          <br>
          Posted by {{blog.user.name}} on <time>{{blog.date}}</time>
        </div>
      </div>
    </div>
    <br />
    {{/each}}
    <a href="/create"><button class="button is-medium is-fullwidth is-info">Create a New Post</button></a>
  </div>
</div>