<section class="hero-body">
    <p class="title">
        The Tech Blog
    </p>
</section>

<div class="columns">
    <div class="column is-8 is-offset-1">
        <section class="blog-list">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title" id="blog-title">{{blogTitle}}</p>
                </header>
                <div class="card-content">
                    <div class="content">
                        {{blogContent}}
                        <br>
                    </div>
                </div>
                <header class="card-footer">
                    <a href="/api/comments/" class="card-footer-item">Add Comment</a>
                </header>
            </div>
            <br/>
            <p class="subtitle">Comments:</p>
            {{#each oneBlogPost as |comment|}}
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title" id="comment-header">{{comment.user.name}} on {{comment.date}}</p>
                </header>
                <div class="card-content">
                    <div class="content">
                        {{comment.comment}}
                    </div>
                </div>
            </div>
            {{/each}}
        </section>
    </div>

</div>