<section class="hero-body">
    <p class="title has-text-info-dark">
        The Tech Blog
    </p>
</section>

<div class="columns has-background-info-dark">
    <div class="column is-8 is-offset-1">
        <section class="blog-list">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title has-text-light has-background-info" id="blog-title">{{blogTitle}}</p>
                </header>
                <div class="card-content">
                    <div class="content">
                        {{blogContent}}
                        <br>
                        <br>
                    </div>
                    <div class="content">
                        Post by {{blogUser}} on {{blogDate}}
                        <br>
                    </div>
                </div>
            </div>
            <br />
            <p class="subtitle has-text-info-light">Comments:</p>
            {{#each blogCommentsDisplay as |comment|}}
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title has-text-dark has-background-info-light" id="comment-header">
                        {{comment.user.name}} on {{comment.date}}</p>
                </header>
                <div class="card-content">
                    <div class="content">
                        {{comment.comment}}
                    </div>
                </div>
            </div>
            <br>
            {{/each}}
            <br>
            {{#if logged_in}}
            <form class="box comment-form">
                <h1 class="title">Add Comment</h1>
                <div class="field">
                    <div class="control">
                        <textarea class="textarea" id="comment" type="text" placeholder="Comment on this post"></textarea>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-info" id="post-btn"
                            type="submit">Post Comment</button>
                    </div>
                </div>
            </form>
            {{/if}}
        </section>
    </div>
<script src="/js/comment.js"></script>
</div>