<section class="hero-body">
    <p class="title has-text-info-dark">
        The Tech Blog
    </p>
</section>

<div class="columns has-background-info-dark">
    <div class="column is-8 is-offset-1">
        <section class="blog-list">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title has-text-light has-background-info" id="blog-title">{{blogTitle}}</p>
                </header>
                <div class="card-content">
                    <div class="content">
                        {{blogContent}}
                        <br>
                        <br>
                    </div>
                    <div class="content">
                        Post by {{blogUser}} on {{blogDate}}
                        <br>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="" class="card-footer-item has-background-info-light">Add Comment</a>
                </footer>
            </div>
            <br />
            <p class="subtitle has-text-info-light">Comments:</p>
            {{#each blogCommentsDisplay as |comment|}}
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title has-text-dark has-background-info-light" id="comment-header">
                        {{comment.user.name}} on {{comment.date}}</p>
                </header>
                <div class="card-content">
                    <div class="content">
                        {{comment.comment}}
                    </div>
                </div>
            </div>
            <br>
            {{/each}}
        </section>
    </div>

</div>